.cards {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-bottom: 10px;
  color: #111827;
}

.card p {
  font-size: 22px;
  font-weight: bold;
  color: #2563eb;
}

.dashboard-info {
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.students-table {
  width: 100%;
  background: white;
  border-collapse: collapse;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.students-table th,
.students-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.students-table th {
  background: #2563eb;
  color: white;
}

.btn-edit {
  padding: 6px 12px;
  background: #22c55e;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.btn-delete {
  padding: 6px 12px;
  background: #ef4444;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.student-form {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  width: 400px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.student-form input,
.student-form select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.student-form button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.student-form button:hover {
  background: #1d4ed8;
}

.logout-btn {
  padding: 8px 15px;
  border: none;
  background: crimson;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.logout-btn:hover {
  opacity: 0.8;
}

.nav-link.active {
  background: #007bff;
  color: white !important;
  border-radius: 6px;
  padding: 8px;
  display: block;
}
