.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2563eb, #111827);
  font-family: Arial, sans-serif;
}

.login-box {
  width: 350px;
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box p {
  margin-bottom: 20px;
  color: gray;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2563eb;
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1d4ed8;
}

.login-box small {
  display: block;
  margin-top: 15px;
  color: gray;
}
