body {
  font-family: Arial, sans-serif;
  background: #f3f3f3;
}

.container {
  width: 400px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  color: #222;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}

button:hover {
  background: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  background: #eee;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}
