.student-sidebar {
  width: 240px;
  background: #111827;
  color: white;
  padding: 20px;
}

.student-logo {
  font-size: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.student-sidebar ul {
  list-style: none;
  padding: 0;
}

.student-sidebar ul li {
  margin: 15px 0;
}

.student-sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px;
  border-radius: 6px;
}

.student-sidebar ul li a:hover {
  background: #2563eb;
}
