.student-navbar {
  background: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
}

.logout-btn {
  padding: 8px 15px;
  background: red;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.logout-btn:hover {
  background: darkred;
}
